<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.projecttest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProductDetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/LoginTheme">
        </activity>
        <activity
            android:name=".activity.CommitActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity.AddressManagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/MyAppTheme">
        </activity>
        <activity
            android:name=".activity.ManagerActivity"
            android:theme="@style/MyAppTheme"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.GoodsActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.EditAdressActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.AddNewAdressActivity"
                  android:launchMode="singleTask">
        </activity>


    </application>

</manifest>